{% extends 'starter-page.html' %}

{% load static %}

{% block content %}

<h1 class="text-center">All Appointments</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, doloremque. Cupiditate sunt, incidunt debitis aspernatur repellendus neque cumque ducimus illo iure, earum eos architecto maiores voluptatum nisi maxime cum rem!
Amet, nihil quis earum voluptates esse commodi labore accusamus ea omnis repudiandae illo quod odit delectus fugit veritatis officia sapiente laborum quasi excepturi expedita dolore in impedit pariatur mollitia! Facilis.</p>

<table class="table table-dark">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone No.</th>
        <th>Date and Time</th>
        <th>Department</th>
        <th>Doctor</th>
        <th>Message</th>
        <th>Actions</th>

    </tr>

    {% for allappointments in allappointments %}

    <tr>
        <td>{{allappointments.name}}</td>
        <td>{{allappointments.email}}</td>
        <td>{{allappointments.phone}}</td>
        <td>{{allappointments.datetime}}</td>
        <td>{{allappointments.department}}</td>
        <td>{{allappointments.doctor}}</td>
        <td>{{allappointments.message}}</td>
        <td>

            <a href="/edit/{{allappointments.id}}/" class="btn btn-outline-info">Edit</a>
            <a href="/delete/{{allappointments.id}}/" class="btn btn-outline-info">Delete</a>
            <a href="{% url 'pay'%}" class="btn btn-outline-info">Pay Here</a>
            

        </td>   
    </tr>

    {% endfor %}

</table>

        {% for message in messages %}

        <p class="alert alert-success">{{message}}</p>

        {% endfor %}

{% endblock %}